/*
 *  USE THIS FILE TO SPECIFY YOUR PARAMETERS. ALLOWED PARAMETERS ARE AS FOLLOWS:
 *  ============================================================================
 *  data     : Path to where the input data is located (where fastq files are located).
 *  out      : Path to where the output should be directed.
 *  db       : 
 *  taxonomy :
 *  genome   : The whole genome sequence.
 *  index    : Path to where the STAR index files are locaded.
 *  bind     : Paths to be passed onto the singularity image (Semi-colon separated).
 *  help     : Print out help menu. Passed as "--help" to the "main.nf" script for detailed information
 */
// SCLERODERMA ANALYSIS ON SLURM
// params {
//     data     = "/spaces/phelelani/ssc_data/data_trimmed/compressed/"
//     out      = "/home/phelelani/scleroderma_analysis/results/nf-rnaSeqMetagen-scleroderma"
//     filetype = "fastq.gz"
//     db       = "/home/phelelani/scleroderma_analysis/indexes/kraken2_db"
//     taxonomy = "/home/phelelani/scleroderma_analysis/indexes/taxonomy"
//     genome   = "/home/phelelani/scleroderma_analysis/indexes/genome.fa"
//     index    = "/home/phelelani/scleroderma_analysis/indexes"
//     bind     = "/global/blast;/spaces/phelelani"
//     help     = null
// }

// SCLERODERMA ANALYSIS ON CLOUD
// params {
//     data     = "/home/phelelani/nf-scleroderma/data-scleroderma"
//     out      = "/home/phelelani/nf-scleroderma/results/nf-rnaSeqMetagen-scleroderma"
//     filetype = "fastq.gz"
//     db       = "/home/phelelani/nf-scleroderma/indexes/kraken2_db"
//     taxonomy = "/home/phelelani/nf-scleroderma/indexes/taxonomy"
//     genome   = "/home/phelelani/nf-scleroderma/indexes/genome.fa"
//     index    = "/home/phelelani/nf-scleroderma/indexes"
//     bind     = "home/phelelani"
//     help     = null
// }

// ALBINISM ANALYSIS ON SLURM
params {
    data     = "/dataE/albinism/fastq"
    out      = "/home/phelelani/scleroderma_analysis/results/nf-rnaSeqMetagen-albinism"
    filetype = "fastq.gz"
    db       = "/home/phelelani/scleroderma_analysis/indexes/kraken2_db"
    taxonomy = "/home/phelelani/scleroderma_analysis/indexes/taxonomy"
    genome   = "/home/phelelani/scleroderma_analysis/indexes/genome.fa"
    index    = "/home/phelelani/scleroderma_analysis/indexes"
    bind     = "/global/blast;/spaces/phelelani;/dataE/albinism/fastq"
    help     = null
}

// ALBINISM ANALYSIS ON CLOUD
params {
    data     = "/home/phelelani/nf-scleroderma/data-albinism"
    out      = "/home/phelelani/nf-scleroderma/results/nf-rnaSeqMetagen-albinism"
    filetype = "fastq.gz"
    db       = "/home/phelelani/nf-scleroderma/indexes/kraken2_db"
    taxonomy = "/home/phelelani/nf-scleroderma/indexes/taxonomy"
    genome   = "/home/phelelani/nf-scleroderma/indexes/genome.fa"
    index    = "/home/phelelani/nf-scleroderma/indexes"
    bind     = "/home/phelelani"
    help     = null
}

