process {
    cache = true
    executor = 'pbs'
    queue = 'batch'
    stageInMode = 'symlink'
    stageOutMode = 'rsync'
}
process.$runSTAR_process.container = 'containers/phelelani-nf-rnaSeqMetagen-master-star.simg'
process.$runMultiQC_process.container = 'containers/phelelani-nf-rnaSeqMetagen-master-trinity.simg'
process.$runMultiQC_process.container = 'containers/phelelani-nf-rnaSeqMetagen-master-multiqc.simg'
singularity {
    enabled = true
    cacheDir = 'containers'
    runOptions = '--bind /global/blast:/global/blast --bind /spaces:/spaces --cleanenv'
    autoMounts = false
}
trace {
    enabled = true
    file = 'report_workflow/nf-rnaSeqMetagen_trace.txt'
}
timeline {
    enabled = true
    file = 'report_workflow/nf-rnaSeqMetagen_timeline.html'
}
report {
    enabled = true
    file = 'report_workflow/nf-rnaSeqMetagen_report.html'
}
dag {
    enabled = true
    file = 'report_workflow/nf-rnaSeqMetagen.dot'
}
