/*
 *  USE THIS FILE TO SPECIFY YOUR PARAMETERS. ALLOWED PARAMETERS ARE AS FOLLOWS:
 *  ============================================================================
 *  data     : Path to where the input data is located (where fastq files are located).
 *  out      : Path to where the output should be directed.
 *  db       : 
 *  taxonomy :
 *  genome   : The whole genome sequence.
 *  index    : Path to where the STAR index files are locaded.
 *  bind     : Paths to be passed onto the singularity image (Semi-colon separated).
 *  help     : Print out help menu. Passed as "--help" to the "main.nf" script for detailed information
 */
params {
    genome = "/spaces/phelelani/ssc_data/INDEX/genome.fa"
    genes = "/spaces/phelelani/ssc_data/INDEX/genes.gtf"
    kraken_dir = "/spaces/phelelani/ssc_data/INDEX/"
    bind = null
}
